@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Basketball Website</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>To Do List:</h2>
        <ul>
            <li>Create season details view</li>
            <li>Create season create view</li>
            <li>Fix getSeasons to return list</li>
            <li>Add Season Create</li>
            <li>Add Season details</li>
            <li>Add Roster Create</li>
            <li>Add Roster Edit</li>
            <li>Add Roster Delete</li>
            <li>Add row number</li>
            <li>Fix UI to twitter create page</li>
            <li>Fix rosterlist page</li>
            <li>Add login feature - Admin (CRUD) / User (Lists)</li>
            <li>Fix jQuery dates</li>
            <li>No Validation message - goes to page on error</li>
        </ul>
    </div>        
</div>

